body {
  background-color: yellow;
}
/*Text at the very top of the page*/
div.title {
  text-align: center;
  font-size: xx-large;
  color: red;
  background-color: black;
}
/*Picture of Fox from CSS screen*/
div.image {
  text-align: center;
}
/*Information to be input*/
.details{
  color: red;
}
.details span{
  background-color: black;
}
.intro {
  font-size: xx-large;
  color: yellow;
  background-color: black;
}
/*section separations for each training level*/
h3 {
  text-align: center;
  color: white;
  background-color: black
  
}
/*List of things to be practiced in Movement*/
.ulists {
  color: darkred;
  font-size: x-large;
}
  
}
ul {
  font-size: x-large
}
#contents a {
  color: black;
}
.expl {
  font-style: italic;
}
ol {
  font-size: large;
}
#conc a {
  font-style: italic;
  color: blue;
}
 #logo {
  background-color: black;
  margin-left: 240px;
}
#game {
  float: right;
  margin-top: -250px;
  margin-right: 40px;
}
ol,ul {
  font-weight: bold
}